@charset "UTF-8";

/*** Bootstrap SASS ***/
$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$breadcrumb-bg: inherit;
$breadcrumb-padding-vertical: 0px;
$breadcrumb-padding-horizontal: 0px;

$fa-font-path: "../bower_components/font-awesome/fonts/";
// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

/*** smart-table sort class ***/
.st-sort-ascent:before {
  content: '\25B2';
}
.st-sort-descent:before {
  content: '\25BC';
}
page-select .select-page {
  width: 50px;
  text-align: center;
  padding: 0;
  margin: -5px 0;
}
