<form class="form-horizontal form-label-left">
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nombre <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="text" required="required" class="form-control col-md-7 col-xs-12" ng-model="checklistItemCreate.checklistItem.name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Grupo <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <select class="selectpicker" ng-model="checklistItemCreate.checklistItem.checklist_item_group_id">
        <option ng-repeat="item_group in checklistItemCreate.checklistItemGroups" ng-value="item_group.id">{{ item_group.name }}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Estado</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="checkbox" class="flat" ng-true-value="1" ng-false-value="0" ng-model="checklistItemCreate.checklistItem.status">
    </div>
  </div>
</form>
