<ul class="nav nav-tabs">
  <li role="presentation" ui-sref-active="active" permission permission-sref="'access-control.checklist.checklist-registries'"><a ui-sref=".checklist-registries">Buscar</a></li>
  <li role="presentation" ui-sref-active="active" permission permission-sref="'access-control.checklist.checklist-registries-create'"><a ui-sref=".checklist-registries-create">Registrar</a></li>
  <li role="presentation" ui-sref-active="active" permission permission-sref="'access-control.checklist.admin'"><a ui-sref=".admin">Administrar</a></li>
</ul>
<div class="tab-content">
  <div class="panel panel-default">
    <div class="panel-body">
      <ui-view></ui-view>
    </div>
  </div>
</div>
