<ul class="nav nav-tabs bar_tabs">
  <li role="presentation" ui-sref-active="active"><a ui-sref=".view">Buscar</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref=".registry">Registrar</a></li>
  <li role="presentation" ui-sref-active="active"><a ui-sref=".admin">Administrar</a></li>
</ul>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default x_panel">
      <div class="panel-body x_content">
        <!-- viewport for child view -->
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>
