<div class="x_content">
  <form ng-submit="checklistRegistriesCreate.save()" class="form-horizontal form-label-left">
    <div class="form-group">
      <label class="col-md-2 col-sm-3 col-xs-12 control-label">Fecha</label>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{checklistRegistriesCreate.datepicker.format}}" ng-model="checklistRegistriesCreate.checklistRegistry.date" is-open="checklistRegistriesCreate.datepicker.opened" datepicker-options="checklistRegistriesCreate.datepicker.dateOptions" close-text="Close" alt-input-formats="checklistRegistriesCreate.datepicker.altInputFormats" required/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="checklistRegistriesCreate.datepicker.open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <label class="col-md-2 col-sm-3 col-xs-12 control-label">Turno</label>
      <div class="col-md-4 col-sm-6 col-xs-12" required>
        <select class="form-control" ng-model="checklistRegistriesCreate.checklistRegistry.turn" required>
          <option value="" selected="selected"></option>
          <option ng-repeat="turn in checklistRegistriesCreate.checklistTurns" value="{{ turn.id }}">{{ turn.name }}</option>
        </select>
      </div>
    </div>
    <div class="x_title">
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Grupo</th>
              <th>Item</th>
              <th>Estado</th>
              <th>Observaciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in checklistRegistriesCreate.checklistItems">
              <td>{{ item.checklist_item_group.name }}</td>
              <td>{{ item.name }}</td>
              <td>
                <div class="text-center" ng-init="response = checklistRegistriesCreate.checklistRegistry.checklist_entries[$index].response">
                  <button type="button" class="btn btn-sm" ng-class="{'btn-success': response, 'btn-default': !response}" ng-model="response" uib-btn-checkbox>
                    <span class="glyphicon" ng-class="{'glyphicon-ok': response, 'glyphicon-minus': !response}" aria-hidden="true"></span>
                  </button>
                </div>
              </td>
              <td>
                <textarea class="form-control" style="height: 35px;" ng-model="checklistRegistriesCreate.checklistRegistry.checklist_entries[$index].observations"></textarea>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row"></th>
              <td>Cumplimiento</td>
              <td>%</td>
              <td>%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="table-responsive col-md-6">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th colspan="2">Control de credenciales</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Disponiblidad</td>
                <td>
                  <div class="item form-group">
                    <div class="col-xs-12">
                      <input type="number" min="0" class="form-control" ng-model="checklistRegistriesCreate.checklistRegistry.credential_avaliable">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Entregadas</td>
                <td>
                  <div class="item form-group">
                    <div class="col-xs-12">
                      <input type="number" min="0" class="form-control" ng-model="checklistRegistriesCreate.checklistRegistry.credential_delivered">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Total</td>
                <td>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="text" class="form-control" disabled="disabled" placeholder="">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="ln_solid"></div>
      <div class="form-group pull-right">
        <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-3">
          <button type="submit" class="btn btn-success">Registrar</button>
        </div>
      </div>
    </div>
  </form>
</div>
