<!doctype html>
<html ng-app="dssiFrontApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dreams - SSI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.brighttheme.css" />
    <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.buttons.css" />
    <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.css" />
    <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.history.css" />
    <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.mobile.css" />
    <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.nonblock.css" />
    <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="bower_components/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="bower_components/morrisjs/morris.css" />
    <link rel="stylesheet" href="bower_components/datatables-responsive/css/dataTables.responsive.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- Gentella template -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:css(.) styles/vendor-post.css -->
    <link rel="stylesheet" href="bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" />
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css" />
    <link rel="stylesheet" href="styles/daterangepicker.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="MainCtrl as main" class="nav-md">
    <div ng-if="!$root.appReady" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color:inherit; z-index: 99999; text-align: center; vertical-align: middle; font-size: 10em;">
      <i id="waiting-icon" class="fa fa-cog fa-spin fa-fw"></i>
    </div>
    <div ng-if="$root.appReady" id="wrapper">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">Dreams - SSI</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
              <li>
                <a href="#">
                  <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                      <em>Yesterday</em>
                    </span>
                  </div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                      <em>Yesterday</em>
                    </span>
                  </div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <strong>John Smith</strong>
                    <span class="pull-right text-muted">
                      <em>Yesterday</em>
                    </span>
                  </div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="text-center" href="#">
                  <strong>Read All Messages</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
            </ul>
            <!-- /.dropdown-messages -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
              <li>
                <a href="#">
                  <div>
                    <p>
                      <strong>Task 1</strong>
                      <span class="pull-right text-muted">40% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <p>
                      <strong>Task 2</strong>
                      <span class="pull-right text-muted">20% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <p>
                      <strong>Task 3</strong>
                      <span class="pull-right text-muted">60% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <p>
                      <strong>Task 4</strong>
                      <span class="pull-right text-muted">80% Complete</span>
                    </p>
                    <div class="progress progress-striped active">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete (danger)</span>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="text-center" href="#">
                  <strong>See All Tasks</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
            </ul>
            <!-- /.dropdown-tasks -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted small">12 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-tasks fa-fw"></i> New Task
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="pull-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a class="text-center" href="#">
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </li>
            </ul>
            <!-- /.dropdown-alerts -->
          </li>
          <!-- /.dropdown -->
          <li ng-controller="PropertyCtrl as property" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <strong ng-cloak>{{ property.property.name }}</strong> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li ng-repeat-start="item in property.properties">
                <a ng-click="property.change(item)" href="javascript:;">{{ item.name }}</a>
              </li>
              <li ng-repeat-end ng-if="!$last" class="divider"></li>
            </ul>
            <!-- /.dropdown-alerts -->
          </li>
          <!-- /.dropdown -->
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <i class="fa fa-user fa-fw"></i><strong ng-cloak>{{ $root.authenticate_user.username }}</strong> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
              </li>
              <li class="divider"></li>
              <li><a ng-click="main.logout()" href="javascript:;"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
              </li>
            </ul>
            <!-- /.dropdown-user -->
          </li>
          <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <!-- sidebar menu -->
        <div ng-controller="MenuCtrl as menu" ng-include="'views/menu.html'"></div>
        <!-- sidebar menu -->
      </nav>

      <div ui-view="" id="page-wrapper"></div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-breadcrumb/release/angular-breadcrumb.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/moment/locale/es.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/angular-bind-html-compile/angular-bind-html-compile.js"></script>
    <script src="bower_components/pnotify/dist/pnotify.js"></script>
    <script src="bower_components/pnotify/dist/pnotify.animate.js"></script>
    <script src="bower_components/pnotify/dist/pnotify.buttons.js"></script>
    <script src="bower_components/pnotify/dist/pnotify.callbacks.js"></script>
    <script src="bower_components/pnotify/dist/pnotify.confirm.js"></script>
    <script src="bower_components/pnotify/dist/pnotify.desktop.js"></script>
    <script src="bower_components/pnotify/dist/pnotify.history.js"></script>
    <script src="bower_components/pnotify/dist/pnotify.mobile.js"></script>
    <script src="bower_components/pnotify/dist/pnotify.nonblock.js"></script>
    <script src="bower_components/angular-pnotify/src/angular-pnotify.js"></script>
    <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
    <script src="bower_components/angular-permission/dist/angular-permission.js"></script>
    <script src="bower_components/angular-permission/dist/angular-permission-ui.js"></script>
    <script src="bower_components/angular-permission/dist/angular-permission-ng.js"></script>
    <script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script src="bower_components/flot/jquery.flot.js"></script>
    <script src="bower_components/holderjs/holder.js"></script>
    <script src="bower_components/metisMenu/dist/metisMenu.js"></script>
    <script src="bower_components/eve-raphael/eve.js"></script>
    <script src="bower_components/raphael/raphael.min.js"></script>
    <script src="bower_components/mocha/mocha.js"></script>
    <script src="bower_components/morrisjs/morris.js"></script>
    <script src="bower_components/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="bower_components/flot.tooltip/js/jquery.flot.tooltip.js"></script>
    <script src="bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/constants.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/run.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/controllers/checklist.js"></script>
        <script src="scripts/controllers/checklist-registries.js"></script>
        <script src="scripts/controllers/checklist-admin.js"></script>
        <script src="scripts/controllers/checklist-registries-create.js"></script>
        <script src="scripts/controllers/checklist-registry-view.js"></script>
        <script src="scripts/controllers/visits.js"></script>
        <script src="scripts/controllers/visitsView.js"></script>
        <script src="scripts/controllers/visitsCheckin.js"></script>
        <script src="scripts/controllers/visitsCheckout.js"></script>
        <script src="scripts/controllers/key-admin.js"></script>
        <script src="scripts/controllers/key-create.js"></script>
        <script src="scripts/controllers/key-loans.js"></script>
        <script src="scripts/controllers/key-loans-delivery.js"></script>
        <script src="scripts/controllers/key-loans-return.js"></script>
        <script src="scripts/controllers/key-loans-view.js"></script>
        <script src="scripts/controllers/property.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/services/property.js"></script>
        <script src="scripts/services/checklistitemgroup.js"></script>
        <script src="scripts/services/checklistregistry.js"></script>
        <script src="scripts/services/keyloan.js"></script>
        <script src="scripts/controllers/index.js"></script>
        <script src="scripts/controllers/access-control.js"></script>
        <script src="scripts/services/checklistitem.js"></script>
        <script src="scripts/services/turns.js"></script>
        <script src="scripts/services/checklist.js"></script>
        <script src="scripts/controllers/checklist-item-create.js"></script>
        <script src="scripts/controllers/modal-default.js"></script>
        <script src="scripts/controllers/checklist-item-group-create.js"></script>
        <script src="scripts/directives/input-rut.js"></script>
        <script src="scripts/services/amphitryon.js"></script>
        <script src="scripts/services/key.js"></script>
        <script src="scripts/directives/page-select.js"></script>
        <script src="scripts/services/module.js"></script>
        <script src="scripts/services/keycondition.js"></script>
        <script src="scripts/services/keyloanstatus.js"></script>
        <!-- endbuild -->

    <!-- Static JavaScript files -->
    <!-- Gentella template -->
    <!-- <script src="js/gentella.js"></script> -->
  </body>
</html>
