<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Configuraciones</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <div class="form-group">
          <label class="col-md-2 col-sm-3 col-xs-12" for="username">Grupos
          </label>
          <div class="col-md-3 col-sm-4 col-xs-12" id="search" required>
            <select class="form-control">
              <option>Actividad</option>
              <option>Operatividad</option>
            </select>
            <br />
          </div>
          <label class="col-md-1 col-sm-4 col-xs-12" for="place">Grupo
          </label>
          <div class="col-md-4 col-xs-12">
            <input type="text" id="group" name="group">
            <button class="btn btn-primary" type="button">Nuevo </button>
          </div>
        </div>
      </div>
      <div class="x_title">
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="headings">
                <th class="column-title">ITEM </th>
                <th class="column-title">GRUPO </th>
                <th class="column-title">ESTADO </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Equipo Radial</td>
                <td>
                  <select class="form-control">
                    <option>Actividad</option>
                    <option>Operatividad</option>
                  </select>
                </td>
                <td><input type="checkbox" class="flat" checked="checked"></td>
              </tr>
              <tr>
                <td>Computador</td>
                <td>
                  <select class="form-control">
                    <option>Actividad</option>
                    <option>Operatividad</option>
                  </select>
                </td>
                <td><input type="checkbox" class="flat"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<option>Equipo Radial</option>
<option>Computador</option>
<option>Sistemas de cámaras</option>
<option>Sistemas de enrolamiento</option>
<option>Celular</option>
<option>Pantalla de eventos actualizada</option>
<option>Ascensores</option>
<option>Retiro de basura</option>
<option>Ingreso camión de valores</option>
<option>Retiro de lavandería</option>
-->
