<div class="page-title">
  <div class="title_left">
    <h3>Control de Acceso</h3>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Checklist</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <ul class="nav nav-pills">
          <li role="presentation" ui-sref-active="active"><a ui-sref="checklist.view">Buscador</a></li>
          <li role="presentation" ui-sref-active="active"><a ui-sref="checklist.register">Registrar</a></li>
          <li role="presentation" ui-sref-active="active"><a ui-sref="checklist.admin">Administrar</a></li>
        </ul>
        <!-- viewport for child view -->
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>
