<div class="x_title">
  <h2>Registrar entrega de llave</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <form ng-submit="keyLoansDelivery.save()" class="form-horizontal form-label-left">
    <div class="form-group">
      <label class="col-md-2 col-sm-3 col-xs-12 control-label">Fecha</label>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{keyLoansDelivery.datepicker.format}}" ng-model="keyLoansDelivery.keyLoan.delivery_datetime" is-open="keyLoansDelivery.datepicker.opened" datepicker-options="keyLoansDelivery.datepicker.dateOptions" close-text="Close" alt-input-formats="keyLoansDelivery.datepicker.altInputFormats" required/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="keyLoansDelivery.datepicker.open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
      <label class="col-md-2 col-sm-3 col-xs-12 control-label">Hora</label>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div uib-timepicker ng-model="keyLoansDelivery.keyLoan.delivery_datetime" show-meridian="false" required></div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-sm-3 col-xs-12 control-label">N° Llave</label>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <input type="text" ng-model="keyLoansDelivery.key" placeholder="Código" typeahead-editable="false" uib-typeahead="key as key.code for key in keyLoansDelivery.searchKey($viewValue)" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-sm-3 col-xs-12 control-label">RUT</label>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <script type="text/ng-template" id="amphitryonResultTemplate.html">
          <a>
            <span ng-bind-html="match.model.person_rut+'-'+match.model.person.dv | uibTypeaheadHighlight:query"></span>
            <br>
            <span>{{ match.model.person.name + ' ' + match.model.person.lastname }}</span>
          </a>
          <div class="divider" style="margin: 0;"></div>
        </script>
        <input type="text" ng-model="keyLoansDelivery.amphitryon" placeholder="RUT" typeahead-editable="false" uib-typeahead="amphitryon as amphitryon.person_rut for amphitryon in keyLoansDelivery.searchAmphitryon($viewValue)" typeahead-template-url="amphitryonResultTemplate.html" class="form-control" required>
      </div>
      <label class="col-md-1 col-sm-4 col-xs-12">Área</label>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <input ng-model="keyLoansDelivery.amphitryon.area.name" type="text" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 col-sm-3 col-xs-12 control-label">Nombre</label>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <input value="{{ keyLoansDelivery.amphitryon.person.name }} {{ keyLoansDelivery.amphitryon.person.lastname }}" type="text" class="form-control" readonly>
      </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group pull-right">
      <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-3">
        <button type="submit" class="btn btn-success">Registrar</button>
      </div>
    </div>
  </form>
</div>
