<div class="x_title">
  <h2>Buscar Llaves</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <div class="form-group">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar" ng-model="searchText">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        </span>
      </div>
    </div>
    <!-- Filtrar -->
    <div class="col-md-2 col-sm-6 col-xs-12" class="dropdown dropup docs-options">
      <button type="button" class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Filtrar<span class="caret"></span></button>
      <ul class="dropdown-menu" aria-labelledby="toggleOptions" role="menu">
        <li role="presentation">
          <label class="checkbox-inline"><input type="checkbox" name="responsive" checked>Nombre</label>
        </li>
        <li role="presentation">
          <label class="checkbox-inline"><input type="checkbox" name="restore">Apellido</label>
        </li>
      </ul>
    </div>
    <!-- FIN Filtrar -->
  </div>
</div>
<div class="x_title">
  <h2>Últimas visitas</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <div class="table-responsive">
    <table class="table table-striped table-bordered bulk_action">
      <thead>
        <tr class="headings">
          <th>
            <input type="checkbox" class="flat">
          </th>
          <th class="text-center">N° Folio</th>
          <th class="text-center">Fecha</th>
          <th class="text-center">Hora llegada</th>
          <th class="text-center">Llave</th>
          <th class="text-center">Status</th>
          <th class="text-center">En poder de</th>
          <th class="text-center">Lugar</th>
          <th class="text-center">Ver</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="keyLoan in keyLoansView.keyLoans.slice(((keyLoansView.currentPage-1)*keyLoansView.itemsPerPage), ((keyLoansView.currentPage)*keyLoansView.itemsPerPage)) | filter:searchText">
          <td><input type="checkbox" class="flat" name="table_records"></td>
          <td>{{ keyLoan.id }}</td>
          <td>{{ keyLoan.delivery_datetime | limitTo: 10 }}</td>
          <td>{{ keyLoan.delivery_datetime | limitTo: -9 }}</td>
          <td>{{ keyLoan.key.code }}</td>
          <td>{{ keyLoan.return_condition }}</td>
          <td>{{ keyLoan.amphitryon_delivery.person.name }} {{ keyLoan.amphitryon_delivery.person.lastname }}</td>
          <td>{{ keyLoan.place }}</td>
          <td class="text-center">
            <div class="btn-group">
              <a type="button" class="btn btn-default btn-xs" ui-sref="access-control.key-loans.return({id: keyLoan.id})">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
              </a>
              <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <ul uib-pagination total-items="keyLoansView.totalItems" ng-model="keyLoansView.currentPage" ng-change="keyLoansView.pageChanged()" items-per-page="keyLoansView.itemsPerPage"></ul>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Enviar</button>
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Seleccionar destinatarios</h4>
        </div>
        <div class="modal-body">
          <h4>Text in a modal</h4>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
          <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
