<div class="x_title">
  <h2>Buscar Checklist</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <div class="form-group">
    <label class="col-md-2 col-sm-3 col-xs-12" for="search">Buscar</label>
    <div class="col-md-3 col-sm-6 col-xs-12" id="search" ng-model="criterio">
      <input type="text" id="search" name="search">
    </div>
    <!-- Filtrar -->
    <div class="col-md-2 col-sm-6 col-xs-12" class="dropdown dropup docs-options">
      <button type="button" class="btn btn-primary btn-block dropdown-toggle" id="toggleOptions" data-toggle="dropdown" aria-expanded="true">Filtrar<span class="caret"></span></button>
      <ul class="dropdown-menu" aria-labelledby="toggleOptions" role="menu">
        <li role="presentation">
          <label class="checkbox-inline"><input type="checkbox" name="responsive" checked>Nombre</label>
        </li>
        <li role="presentation">
          <label class="checkbox-inline"><input type="checkbox" name="restore">Apellido</label>
        </li>
      </ul>
    </div>
    <!-- FIN Filtrar -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <button class="btn btn-primary" type="button">Ver</button>
    </div>
  </div>
</div>
<div class="x_title">
  <h2>Últimos checklist</h2>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="headings">
          <th rowspan="2" >
            <input type="checkbox" id="check-all" class="flat">
          </th>
          <th rowspan="2" class="text-center">N° Folio</th>
          <th rowspan="2" class="text-center">Fecha</th>
          <th rowspan="2" class="text-center">Turno</th>
          <th colspan="{{ checklistView.checklistItemGroups.length }}" class="text-center">% Cumplimiento</th> <!--colspan segun cuantos grupos existan-->
          <th colspan="3" class="text-center">Credenciales</th>
          <th rowspan="2" class="text-center">Acción</th>
        </tr>
        <tr class="headings">
          <th ng-if="!checklistView.checklistItemGroups.$resolved"><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></th>
          <!-- Blank cell -->
          <th ng-if="checklistView.checklistItemGroups.$resolved && checklistView.checklistItemGroups.length === 0"></th>
          <th ng-repeat="item_group in checklistView.checklistItemGroups" class="text-center">{{ item_group.name }}</th> <!-- ng-repeat para sacar los grupos-->
          <!-- /Blank cell -->
          <th class="text-center">Entregadas</th>
          <th class="text-center">Disponibles</th>
          <th class="text-center">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="checklistRegistry in checklistView.checklistsRegistries">
          <td><input type="checkbox" class="flat" name="table_records"></td>
          <td>{{ checklistRegistry.id }}</td>
          <td>{{ checklistRegistry.date | date }}</td>
          <td>{{ checklistView.checklistTurns[checklistRegistry.turn-1].name }}</td>
          <td ng-repeat="item_group in checklistView.checklistItemGroups">{{ checklistRegistry.checklist_entries.length }}</td>
          <td>{{ checklistRegistry.credential_delivered }}</td>
          <td>{{ checklistRegistry.credential_avaliable }}</td>
          <td></td>
          <td class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
